*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	display: block;
	width: 100%;
}
.container{
	max-width: 941px;
	margin: 0 auto;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p.text{
	font-weight: 400;
font-size: 13px;
line-height: 23px;
align-items: center;
letter-spacing: 0.1875px;
color: #48555B;
}