.content__section{
margin-bottom: 78px;
}
.content__section {
	text-align: center;
}
.content__title{
	margin-bottom: 81px;
	display: inline-block;
	font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 2.3px;
color: #48555B;
padding-bottom: 11px;
position: relative;
}

.content__title::before{
	content: "";
	background: #00A4E5;
	height: 1PX;
	width: 50PX;
	position: absolute;
	bottom: 0 ;
	left: 35px;
}

.content{
	display: flex;
	margin-bottom: 129px;
}

.content__box{
	width: 50%;
}

.content__text {
text-align: left;
	margin-bottom: 30px;
	font-weight: 700;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1875px;
color: #48555B;
}
.content__text2 {
	text-align: left;
padding: 0 65.5px 0 0;
}

.imp{
	color: #00A4E5;
}

.img__box__gen{
	display: flex;
	justify-content: space-around;

}
.img__box {
	padding: 15px 0 0 13px;
}
.text_img {
	text-align: left;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.1875px;
	color: #FFFFFF;
}
.box1 {
	background-image: url(../img/plan2x.webp);
	background-size: cover;
	background-position: center;
	height: 225px;
	width: 140px;
}

.box2 {
	background-image: url(../img/manage2x.webp);
	background-size: cover;
	background-position: center;
	height: 225px;
	width: 140px;
}
.box3{
	background-image: url(../img/build2x.webp);
	background-size: cover;
	background-position: center;
	height: 225px;
	width: 140px;
}

.capabiliti {
	display: flex;
	justify-content: space-between;
}
.capabiliti__text {
	position: relative;
	font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: 2.30625px;
color: #48555B;
}
.capabiliti__text::before{
	content: "";
	position: absolute;
	background: #00A4E5;
	width: 51px;
	height: 1px;
	bottom: 0;
}

.capabiliti__text2 {
	text-align: left;
	width: 405px;
	font-weight: 400;
font-size: 11px;
line-height: 19px;
letter-spacing: 0.2px;
color: #48555B;
}
.capabiliti__link {
	width: 150px;
height: 40px;
background: #00A4E5;
font-weight: 700;
font-size: 13px;
line-height: 40px;
text-align: center;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.capabiliti__link:hover{
	background-color: #9ed0e3;
	color: #066b93;
	transition: color 0.5s;
}